name: 编译固件

on:
  schedule:
    - cron: 0 20 * * *
  workflow_dispatch:

permissions:
  contents: write

jobs:
  compile_firmwares:
    runs-on: ubuntu-24.04

    env:
      WD: /mnt/lede
      TZ: Asia/Shanghai
    
    steps:
      - name: 获取虚拟机信息
        run: |
          cpu_model=$(cat /proc/cpuinfo | grep 'model name' | head -n1 | awk -F ': ' '{print $2}')
          cpu_cores=$(cat /proc/cpuinfo | grep 'cpu cores' | head -n1 | awk -F ': ' '{print $2}')
          cpu_threads=$(nproc)
          mem_total=$(free -m | grep 'Mem' | awk '{print $2}')
          os_version=$(lsb_release -a | grep 'Description' | awk -F ':\t' '{print $2}')
          echo "CPU: $cpu_model $cpu_cores核心$cpu_threads线程"
          echo "内存: $mem_total MB"
          echo "操作系统: $os_version"
          echo "时间: $(date "+%Y-%m-%d %H:%M:%S")"
          echo "用户/组: $(id -un)/$(id -gn)"
          echo "主机名: $(hostname)"
          echo "IP地址: $(hostname -I)"
      
      - name: 获取编译前/mnt剩余空间
        run: |
          echo "编译前/mnt剩余空间: $(df -h | grep '/mnt' | awk '{print $4}')"

      - name: 安装依赖
        run: |
          sudo apt update -y
          sudo apt full-upgrade -y
          sudo apt install -y ack antlr3 asciidoc autoconf automake autopoint binutils bison build-essential \
          bzip2 ccache clang cmake cpio curl device-tree-compiler flex gawk gcc-multilib g++-multilib gettext \
          genisoimage git gperf haveged help2man intltool libc6-dev-i386 libelf-dev libfuse-dev libglib2.0-dev \
          libgmp3-dev libltdl-dev libmpc-dev libmpfr-dev libncurses5-dev libncursesw5-dev libpython3-dev \
          libreadline-dev libssl-dev libtool llvm lrzsz libnsl-dev ninja-build p7zip p7zip-full patch pkgconf \
          python3 python3-pyelftools python3-setuptools qemu-utils rsync scons squashfs-tools subversion \
          swig texinfo uglifyjs upx-ucl unzip vim wget xmlto xxd zlib1g-dev
      
      - name: 检出LEDE仓库
        uses: actions/checkout@main
        with:
          repository: coolsnowwolf/lede
          fetch-depth: 0

      - name: 创建工作目录
        run: |
          sudo mkdir -p $WD
          sudo chown -R $(id -un):$(id -gn) $WD

      - name: 复制LEDE仓库到工作目录
        run: |
          cp -r . $WD

      - name: 修改编译有关配置
        run: |
          sed -i 's/#src-git helloworld/src-git helloworld/g' ./feeds.conf.default
          ./scripts/feeds update -a
          ./scripts/feeds install -a
          curl https://raw.githubusercontent.com/cricketbrother/lede-actions/refs/heads/main/my.config -o .config
          make defconfig
        working-directory: ${{ env.WD }}
        
      - name: 下载编译依赖
        run: |
          make download -j$(nproc) || make download -j1 || make download -j1 V=s
        working-directory: ${{ env.WD }}

      - name: 编译固件
        run: |
          make -j$(nproc) || make -j1 || make -j1 V=s
        working-directory: ${{ env.WD }}

      - name: 生成TAG
        id: tag
        run: |
          today=$(date +v%Y.%m.%d)
          lede_version=$(cat package/lean/default-settings/files/zzz-default-settings | egrep -m 1 -o 'R[0-9]{2}\.[0-9]{1,2}\.[0-9]{1,2}')
          tag=$lede_version-$today
          echo "tag=$tag" >> $GITHUB_OUTPUT
        working-directory: ${{ env.WD }}
        
      - name: 重命名固件
        run: |
          cp .config ./bin/targets/x86/64/${{ steps.tag.outputs.tag }}.config
          for file in $(ls ./bin/targets/x86/64/lede*); do
            if [[ -d "$file" ]]; then
                continue
            fi
            newfile=${file%generic*}generic-${{ steps.tag.outputs.tag }}${file##*generic}
            mv "$file" "$newfile"
          done
        working-directory: ${{ env.WD }}

      - name: 获取编译后/mnt剩余空间
        run: |
          echo "编译前/mnt剩余空间: $(df -h | grep '/mnt' | awk '{print $4}')"

      - name: 随机获取一句诗词
        id: poem
        run: |
          sudo apt update
          sudo apt install jq
          response=$(curl --user-agent "Mozilla/5.0" https://api.codelife.cc/todayShici?lang=cn)
          quotes=$(echo $response | jq -r '.data.quotes')
          author=$(echo $response | jq -r '.data.author')
          dynasty=$(echo $response | jq -r '.data.dynasty')
          title=$(echo $response | jq -r '.data.title')
          poem=$quotes"    "——" "$dynasty" "·" "$author《$title》
          echo "poem=$poem" >> $GITHUB_OUTPUT
          
      - name: 上传发行版
        uses: softprops/action-gh-release@master
        with:
          files: |
            ${{ env.WD }}/bin/targets/x86/64/*
          tag_name: ${{ steps.tag.outputs.tag }}
          draft: false
          prerelease: false
          body: |
            ${{ steps.poem.outputs.poem }}

