name: test

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  compile_firmwares:
    runs-on: ubuntu-24.04

    env:
      WD: /mnt/lede
    
    steps:
      - name: 获取虚拟机信息
        run: |
          cpu_model=$(cat /proc/cpuinfo | grep 'model name' | head -n1 | awk -F ': ' '{print $2}')
          cpu_cores=$(cat /proc/cpuinfo | grep 'cpu cores' | head -n1 | awk -F ': ' '{print $2}')
          cpu_threads=$(nproc)
          mem_total=$(free -m | grep 'Mem' | awk '{print $2}')
          os_version=$(lsb_release -a | grep 'Description' | awk -F ':\t' '{print $2}')
          echo "CPU: $cpu_model $cpu_cores核心$cpu_threads线程"
          echo "内存: $mem_total MB"
          echo "操作系统: $os_version"
          echo "时间: $(date "+%Y-%m-%d %H:%M:%S")"
          echo "用户/组: $(id -un)/$(id -gn)"
          echo "主机名: $(hostname)"
          echo "IP地址: $(hostname -I)"
      
      - name: 获取编译前/mnt剩余空间
        run: |
          echo "编译前/mnt剩余空间: $(df -h | grep '/mnt' | awk '{print $4}')"
      
      - name: 检出LEDE仓库
        uses: actions/checkout@main
        with:
          repository: coolsnowwolf/lede

      - name: 创建工作目录
        run: |
          sudo mkdir -p $WD
          sudo chown -R $(id -un):$(id -gn)

      - name: 移动LEDE仓库到工作目录
        run: |
          mv ./* $WD

      - name: 下载自定义配置
        run: |
          curl https://raw.githubusercontent.com/cricketbrother/lede-actions/refs/heads/main/my.config -o .config
        working-directory: ${{ env.WD }}
        
      - name: 列表
        run: |
          pwd
          ls -la
        working-directory: ${{ env.WD }}

      - name: 获取编译后/mnt剩余空间
        run: |
          echo "编译前/mnt剩余空间: $(df -h | grep '/mnt' | awk '{print $4}')"
